{{ define "body-class" }}template-home article-page{{ end }}

{{ define "main" }}
<article class="main-article">
    <div class="window-controls">
        <span class="control red"></span>
        <span class="control yellow"></span>
        <span class="control green"></span>
    </div>
    <header class="article-header">
        <div class="article-details">
            <h2 class="article-title">{{ .Title }}</h2>
        </div>
    </header>

    <section class="article-content">
        {{ .Content }}
    </section>

    <footer class="article-footer">
        {{ partial "article/components/footer" . }}
    </footer>
</article>

{{ partialCached "footer/footer" . }}
{{ end }}